<footer>
	<div class="container-xl">
		<div class="row justify-content-start py-5">
			<div class="col-12 text-center">
				<p><strong>Follow Us</strong><p>
			</div>
			<div class="col-lg-3 col-sm-6 p-3 text-center">
				<a class="link-secondary text-decoration-none" href="https://www.facebook.com/StudiumSG/"><i class="fa-brands fa-facebook"></i> Facebook: <span class="ssg-green">StudiumSG</span></a>
			</div>
			<div class="col-lg-3 col-sm-6 p-3 text-center">
				<a class="link-secondary text-decoration-none" href="https://www.instagram.com/studiumsg/"><i class="fa-brands fa-instagram"></i> Instagram: <span class="ssg-green">StudiumSG</span></a>
			</div>
			<div class="col-lg-3 col-sm-6 p-3 text-center">
				<a class="link-secondary text-decoration-none" href="https://www.youtube.com/channel/UCiSrtY427tFMhGc0BG1kr8g"><i class="fa-brands fa-youtube"></i> YouTube: <span class="ssg-green">StudiumSG</span></a>
			</div>
			<div class="col-lg-3 col-sm-6 p-3 text-center">
				<a class="link-secondary text-decoration-none" href="https://www.tiktok.com/@studiumsg/"><i class="fa-brands fa-tiktok"></i> TikTok: <span class="ssg-green">StudiumSG</span></a>
			</div>
			<div class="col-12 pt-5">
				<a href="/"><img src="/assets/images/logo.svg"></a>
				<p class="pt-3">Top class tutoring through a self-paced programme that puts learning in the palm of your hand.</p>
				<p>&copy; 2022 Studium SG</p>
			</div>
		</div>
	</div>
</footer>
