---
layout: default
---
<div>
	<div class="container-xl">
		<div class="row justify-content-center pt-5 pb-5">
			<div class="col text-center">
				<h1 class="p-3">{{ page.experience-header }}</h1>
				<p class="p-3">{{ page.experience-byline }}</p>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="container-xl">
		<div class="row justify-content-center pt-5 pb-5">
			<div class="col-lg-10 text-center">
				<div class="ratio ratio-16x9">
					<iframe src="{{ page.video-link }}?rel=0" allowfullscreen></iframe>
				</div>
				<a class="btn btn-success mt-5" role="button" href="/pricing/">{{ page.video-button }}</a>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="container-xl">
		<div class="row justify-content-center pt-5">
			<div class="col-12">
				<h1>{{ page.testimonial-header }}</h1>
			</div>
		</div>
		<div class="row pb-5" data-masonry='{"percentPosition": true }'>
{% for testimonial in page.testimonials %}
	<div class="col-lg-6 col-sm-12">
		<div class="card m-5">
			<div class="card-body">
				<p class="card-text">{{ testimonial.text }}<br><br><strong>{{ testimonial.name }}</strong><br>{% for i in (1..testimonial.stars) %}<i class="fa-solid fa-star"></i>{% endfor %}</p>
			</div>
		</div>
	</div>
{% endfor %}
		</div>
	</div>
</div>
